.container {
  text-align: center;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  align-content: center;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

.h1 {
  font-size: 26px;
  color: #333;
}

.version {
  color: #007bff;
  font-weight: bold;
}

.description {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background: #007bff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.button:hover {
  background: #0056b3;
}

.container {
  text-align: center;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  font-size: 26px;
  color: #333;
}

.version {
  color: #007bff;
  font-weight: bold;
}

.description {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}


.nav-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background: #007bff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.button:hover {
  background: #0056b3;
}
